
 
  *{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    background-image: url(../back.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    
    text-decoration: none;
    color: tomato;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: #000;

}

.logo img{
    float:left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1500px ;
    margin: auto;
}

ul li table{
    text-align: center;

}
.title {
    background-color:lightcyan;
    width: 855px;
    border: 20px red;
    padding: 100px;
    margin: 50px;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%,-50%);
}

.table {
    position: absolute;
    top: 23.5%;
    left: 65%;
    
}

.video {
    position: absolute;
    top: 48%;
    left: 74%;
    
}
.icon{
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
}
a{
    margin: 15px;
}


body {
    background-color : #eee ;
  }

  .reviews {
    width : 600px; 
    height : 150px;
    overflow : hidden ;
    background-color : #fff ;
    border-radius : 5px;
    margin : 50px auto ;
    position : relative ;
    box-shadow : 0 0 10px -2px #ddd ;
    top: 70%;
    left: 9%;
  }
  .panel {
    width : 100%;
    max-height: 100%;
    position : absolute ; 
  }
  .PanelAct {
    left : 0 ;
  }
  .panel img { 
    width : 100px;
    height : 100px; 
    text-align : center ;
    float : left ; 
    margin : 25px; 
  }
  /*== Removal Start
  png images background
  ==*/
  .panel:nth-of-type(1) img {
      background : #12aedb ;
  }
  .panel:nth-of-type(2) img {
      background : #db4646 ;
  }
  .panel:nth-of-type(3) img {
      background : #96c465 ;
  }
  /*== Removal End==*/

  .panel p {
    float : left ; 
    width : 420px;
    clear : right ;
    text-align : justify ;
    margin : 25px 0 10px 0;
    font-size : 14px ; 
    color : #aaa ;
    line-height : 1.2em
  }
  .panel h7 { 
    float : left ; 
    width: 200px; 
    font-size : 14px ; 
    color : #999 ;
    font-weight : bold ;
    font-style : italic ;
  }
  .control { 
    position : absolute ; 
    bottom : 20px; 
    right : 30px;
  }
  .control span {
    background-color : rgba(0,0,0,0.1) ; 
    padding : 5px; 
    display : inline-block ;
    vertical-align : top ;
    margin-left : 5px ;
    border-radius : 50%;
    cursor : pointer ;
    transition : 0.3s ease-in
  }
  .ContActive {
    background-color : #bbb !important ;
  }
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }


  .faq-heading{
    
    font-size: 2.2rem; 
    padding-bottom: 1rem;
}
.faq-container{
display: flex;
top: 200%;
left: 27%;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;

}
.faq-page {
    /* background-color: #eee; */
    color: rgb(3, 49, 48);
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   /* padding: auto; */

}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    /* text-align: left; */
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
} 
